#leadership-img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding: 0 0 0 0;
}
@media only screen and (min-width: 600px) {
    .make-center{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #objective{
        margin-bottom: 0px;
        background-image: linear-gradient(to right,#add0e6, #4e86b5, white);
    }
}
.content{
    font-size: 18px;
}

/* Activities Section */
.activity-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .activity-container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .activity-container {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
    .full-size{
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0;
    }
}