#leadership-img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    padding: 0 0 0 0;
}
@media only screen and (min-width: 600px) {
    .make-center{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }
    #objective{
        margin-bottom: 0px;
        background-image: linear-gradient(to right,#add0e6, #4e86b5, white);
    }
}
.content{
    font-size: 18px;
}
#activities .icon-block{
    padding: 0 0;
} 