/*Banner Section*/
.img-center{
  position: absolute;
  left: 50%;
  /* width: 100vw; */
  transform: translateX(-50%);
}
.tagline-container{
  position: absolute; 
  left: calc(50% - 104.5px);
  min-width: 209px;
  bottom: -400px; 
  color:white;
}
.invisible{
  opacity: 0;
}
.visible{
  opacity: 1;
}
.welcome-container{
  position: absolute; 
  left: calc(50% - 103.2px);
  max-width: 206.4px;
  top: 20px;
  color: yellow;
  font-weight: bold;
  font-size: 24px;
}
.tagline-container .line1{
  font-size: 24px;
}
.tagline-container .line2{
  font-size: 29.04px;
}
.module-buttons{
  font-size: 32px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
@media only screen and (min-width: 601px){
  .module-buttons{
    font-size: 48px;
  }
  .tagline-container{
    left: 50px; 
  }
  .welcome-container{
    left: 50px;
    max-width: 500px;
    text-align: left;
    top: 40px;
    font-size: 24px;
  }
  .tagline-container .line1{
    font-size: 28px;
  }
  .tagline-container .line2{
    font-size: 33.88px;
  }  
}

@media only screen and (min-width: 1400px){
  .tagline-container{
    left: 150px; 
  }
  .welcome-container{
    left: 150px;
    max-width: 800px;
    font-size: 32px;
  }
  .tagline-container .line1{
    font-size: 42px;
  }
  .tagline-container .line2{
    font-size: 50.83px;
  }  
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



.card-container{
  height: 500px;
  position: relative;
}
.padding-0{
  padding: 0 !important;
}
.card-content{
  width: 100%; 
  position: absolute; 
  /* bottom: 50%; */
  /* transform: translateY(50%);  */
}
.card-heading{
  font-size: 18px;
  /* color: white; */
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px black;
}
.card-writeup{
  text-align: justify;
  font-weight: bold;
  /* font-weight: 300; */
  color: white;
  font-size: 16px;
  text-shadow: 2px 2px black;
}
.teaser{
  width: 320px;
  height: 180px; 
}
.myCard{
  padding: 0px 10px;
  /* background-color: rgba(0,0,0,0.4); */
  /* max-width: 300px; */
  width: 100%;
  margin: auto;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.banner-main-heading{
  font-size: 26px;
  color: white;
  width: 100%;
  font-weight: bolder;
}
@media only screen and (min-width:601px){
  .banner-main-heading{
    font-size: 32px;
  }
  .myCard{
    /* max-width: 600px; */
  }
  .card-heading{
    font-size: 22px;
  }
  .card-writeup{
    font-size: 20px;
  } 
}
@media only screen and (min-width: 993px){
  .banner-main-heading{
    font-size: 54px;
  }
  .myCard{
    /* max-width: 500px; */
    padding: 0px 50px;
  }
  .card-heading{
    font-size: 28px;
  }
  .card-writeup{
    font-size: 24px;
  }
}

@media only screen and (max-width: 992px){
  .card-container{
    height: 250px;
  }
}

.banner-tagline-container{
  max-width: 360px; 
  padding: 25px 5px; 
  font-size: 36px;
  /* font-weight: bolder; */
  color: white;
}
.banner-brand{
  max-width: 360px; 
  padding: 25px 3px; 
  font-size: 40px;
  font-weight: bolder;
  color: white;
}
@media only screen and (min-width: 601px){
  .banner-tagline-container{
    max-width: 500px;
    padding: 25px 5px;
    font-size: 40px;
  }
  .banner-brand{
    max-width: 700px;
    padding: 0px 5px;
    font-size: 48px;
  }
}
@media only screen and (min-width: 993px){
  .banner-tagline-container{
    max-width: 900px;
    padding: 10px;
    font-size: 52px;
  }
  .banner-brand{
    max-width: 1024px;
    padding: 20px;
    font-size: 66px;
  }
}
.banner-cards-centralizer{
  position:absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 100%;
}
.bigger-height{
  height: 500px !important;
} 

/* Upcoming Events Section */
.img-heading{
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin: 5px;
}
.img-subheading{
  font-size: 18px;
  font-weight: 100;
  text-align: center;
  margin: 5px;
}
.img-links{
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
  margin: 5px;
}
.mrgn{
  margin: 0px 20px;
  overflow: hidden;
}
@media only screen and (min-width: 993px){
  .module-buttons{
    font-size: 56px;
  }
  .img-heading{
    font-size: 32px;
  }
  .img-subheading{
    font-size: 26px;
  }
  .img-links{
    font-size: 20px;
  }
  .valign-center{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width: 1400px){
  .img-heading{
    font-size: 40px;
  }
  .img-subheading{
    font-size: 34px;
  }
  .img-links{
    font-size: 28px;
  }
}
.card-box{
  margin: auto;
  max-width: 1600px;
}
.carousel{
  height: 500px;
}
.carousel .carousel-item{
  height: 424.28px;
}

/* Activities Section */
.activity-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
@media only screen and (min-width: 601px) {
  .activity-container {
    width: 100%;
  }  
}
@media only screen and (min-width: 993px) {
  .activity-container {
    width: 100%;
  }
}
.hidder{
  height: 250px;
  overflow: hidden;
  max-width: 400px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
    .full-size{
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0;
    }
}
.on-laptops{
  display: none;
}
@media only screen and (min-width: 993px) {
  .on-laptops{
    display: block;
  }   
}
@media only screen and (max-width: 600px){
  .heading-1{
    font-size: 36px;
    font-weight: bolder;
  }
  .heading-2{
    font-size: 28px;
    font-weight: bolder;
  }
  .f1{
    font-size: 32px !important;
  }
  .f2{
    font-size: 20px !important;
  }
}
.heading-1, .heading-2{
  font-weight: bold;
}
.f1{
  font-size: 72px;
}
.f2{
  font-size: 36px;
}