.writeup{
    font-size: 20px;
    text-align:justify;
}
.responsive-img{
    max-width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}
@media only screen and (min-width: 993px){
  .event-box{
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    padding: 20px 20px;
    min-width: 400px;
  }
  .offer-box{
    min-width: 400px;
  }
}
.event-box .items{
  font-size: 18px;
  font-weight: bold;
  color: #455a64;
  margin: 10px 0px;
}
.event-box i{
  margin-right: 10px;
}
.items-price{
  font-size: 22px;
  font-weight: 100;
  margin: 10px 0px;
}
.offer-box{
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  padding: 6px 10px;
}
.offer-box .text{
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}
@media only screen and (max-width: 600px){
  .small-font{
    font-size: 30px;
    font-weight: bolder;
  }
}
.small-font{
  font-weight: bold;
}