.my-image{
  width: 150px;
  height: 212.142px;
  margin-right: 20px;
}
.item-heading{
  font-size: 26px;
}
.item-price{
  font-size: 22px;
}
.item-description{
  font-size: 16px;
  margin-bottom: 5px;
}
.weight-800{
  font-weight: 800;
}

@media only screen and (max-width: 601px) {
  .item-price{
    margin-top: 10px;
  }  
}

.card-style-new{
    padding: 10px;
    border-radius: 0 0 1px 1px;
}

.mybutton{

  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}