*{
    font-family: 'Lora', serif;
}
.btn-primary {
    color: #fff;
    background-color: #c5331c;
    border-color: #c5331c;
}
.p-color-text{
    color: #c5331c;
}
.p-color{
    background-color: #c5331c;
}
.btn-secondary {
    color: black;
    background-color: #fff;
    border-color: black;
}
.s-color-text{
    color: #fff9c4;
}
.s-color{
    background-color: #fff9c4;
}

.nav-item .active{
    font-weight: 600;
}
.navbar-brand{
    margin-left: 10px;
}
.nav-item .nav-link{
    margin-left: 20px;
    margin-right: 20px;
}
.blue-grey700-text{
    color: #1c313a;
}

/* title styles */
.title-font{
    font-family: 'Lato', sans-serif;
}
.pre-title-style{
    font-size: calc((1.5rem+2.1vw)/1.3);
}
.highlight-detail{
    font-size: calc((1.5rem+2.1vw)/1.4);
    font-style: italic;
    font-weight: 600;
}
.section-title{
    font-size: calc((1.6rem+2.1vw)/1.1);
}

#loader{
    display: none;
}